@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-6 py-3 bg-primary text-white rounded-lg font-medium shadow-sm transition duration-300 hover:bg-primary-dark;
  }

  .btn-outline {
    @apply px-6 py-3 border border-primary text-primary rounded-lg font-medium transition duration-300 hover:bg-primary hover:text-white;
  }
}